.events
  %h5
    Event med näringslivet
  - if @events.count == 0
    %p
      Inga event inplanerade.
  - else
    %ul
      - @events.each do |e|
        %li
          .event
            %h5
              %a{href: "/events/#{e.id}/"}= e.title
