
%table.table.table-striped
  %thead
    %tr
      %th Företag
      %th Titel
      %th Period
      %th antal dagar
      %th Kategorier
      %th
  %tbody
    - jobs.each do |job|
      = haml :"admin/_job", :locals => { :job => job }
