
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Företag
      %th Titel
      %th Period
      %th Antal veckor
      %th View count
      %th Actions
  %tbody
    - jobs.each do |job|
      = haml :"admin/_job", :locals => { :job => job }
