.row-fluid
  .span10.offset1
    %h1
      Admin sida
    %a{href: "/subscribes/"} emaillista
    %hr
    %br

    - unless @errors.nil?
      %p
        - @errors.each do |msg|
          = msg.to_s
    %h4
      Alla annonser som är färdiga
    
    = haml :"admin/_jobs", locals: {jobs: @jobs.has_ended.not_paid}
    
    %br

    %h4
      Alla annonser som är färdiga och betalade
    
    = haml :"admin/_jobs", locals: { jobs: @jobs.has_ended.is_paid}
    
    %br
    
    %h4
      Alla annonser som inte är färdiga
    
    =haml :"admin/_jobs", locals: { jobs: @jobs.not_ended }
