%h1
  Admin sida

%h3
  Alla annonser som är färdiga

= haml :"admin/_jobs", locals: {jobs: @jobs.has_ended.not_paid}

%h3
  Alla annonser som färdiga och betalade

= haml :"admin/_jobs", locals: { jobs: @jobs.has_ended.is_paid}

%h3
  Alla annonser som inte är färdiga

=haml :"admin/_jobs", locals: { jobs: @jobs.not_ended }
