.row-fluid
  .span10.offset1
    .page-header
      %h1.center
        Admin view
    %a.btn.btn-primary{href: "/subscribes/"} Nyhetsbrev & Mail

    - if can? :list, Category
      %a.btn.btn-primary{href: "/categories/"} Kategorier
    - if can? :list, Company  
      %a.btn.btn-primary{href: "/companies/"} Företag
    - if can? :create, Event  
      %a.btn.btn-primary{href: "/events/new"} Nytt Event
    - if can? :list, Event  
      %a.btn.btn-primary{href: "/events/"} Evenemang
    
    %hr
    %br

    - unless @errors.nil?
      %p
        - @errors.each do |msg|
          = msg.to_s
    %br

    %h4
      Alla annonser som inte är färdiga
    
    =haml :"admin/_jobs", locals: { jobs: @jobs.not_ended }

    %br

    %h4
      Alla annonser som är färdiga
    
    = haml :"admin/_jobs", locals: {jobs: @jobs.has_ended.not_paid}
    
    %br

    %h4
      Alla annonser som är färdiga och betalade
    
    = haml :"admin/_jobs", locals: { jobs: @jobs.has_ended.is_paid}
