.info
  %h2
    Välkommen
    %small
      Nyhetsbrev

  .block
    %h5
      dJobb
    %p 
      %a{href: "http://djobb.se"}dJobb.se
      är Datasektionens jobbportal. Du har nu anmält dig till nyhetsbrevet, vilket är en veckovis sammanfattning av nya tjänster som finns ute. Förhoppningsvis kommer även information om lunchföreläsningar och andra evenemang ut här.

    %h5
      Mer information
    %p
      Näringslivsgruppen finns på 
      %a{href: "https://www.facebook.com/kth.d.naringsliv"} Facebook!
      För den som är sugen så finns det även en RSS feed av det som händer på sidan. Den hittar ni
      %a{href: "http://djobb.se/jobs/rss.xml"} här.
    %h5
      Företag
    %p
      Arbetar du någonstans där det behövs dataloger? Eller känner du någon som vill anställa? Hör av er till oss! Näringslivsgruppen kan man enklast nå på 
      %a{href: "mailto:foretag@d.kth.se"} foretag@d.kth.se.

    %p
      %a{href: "www.datasektionen.se"} Konglig Datasektionen, KTH