%tr
  %td
    %h2
      Välkommen

%tr
  %td
    %h4
      dJobb
%tr
  %td
    %p 
      %a{href: "http://djobb.se"}dJobb.se
      är Datasektionens jobbportal. Du har nu anmält dig till nyhetsbrevet, vilket är en veckovis sammanfattning av nya tjänster som finns ute. Förhoppningsvis kommer även information om lunchföreläsningar och andra evenemang ut här.

%tr
  %td
    %h4
      Mer information
%tr
  %td
    .bottom-border
      %p
        Näringslivsgruppen finns på 
        %a{href: "https://www.facebook.com/kth.d.naringsliv"} Facebook!
        För den som är sugen så finns det även en RSS feed av det som händer på sidan. Den hittar ni
        %a{href: "http://djobb.se/jobs/rss.xml"} här.


%tr
  %td
    %p
      %a{href: "www.datasektionen.se"} Konglig Datasektionen, KTH
