.alert
  - unless errors.nil?
    %button.close{ data: { dismiss: "alert" } }
      x
    .errors
      %strong
        Valideringsfel!
      Mongo, du skrev fel.
      %ul
        - errors.each do |e, msg|
          %li
            = e
