.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      -# = %a.btn.btn-navbar{"data-target" =>".nav-collapse", "data-toggle" => "collapse"}
        -# = %span.icon-bar
        -# = %span.icon-bar
        - # =%span.icon-bar
      %a.hidden-phone.brand{href: "/"}
        %img{src: "/img/datasektionen_3.png", width: "180", height: "40"}
      %a.visible-phone.brand{href: "/"}
        %center
          %img{src: "/img/datasektionen_3.png", width: "180", height: "40"}
          
      = haml :menu
