.navbar.navbar-default{role: "navigation"}
  .container-fluid
    .navbar-header
      %a{href: "/"}
        %center
          %img{src: "/img/datasektionen_3.png", width: "180", height: "40"}

      %button.navbar-toggle{data: {toggle: "collapse", target: "#header-toggle"}}

        %span.sr-only
          Visa meny
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

    .collapse.navbar-collapse.navbar-right#header-toggle
      = haml :menu
