!!!
%html{lang: "se"}
  %head
    %title Datasektionens Jobbportal
    %meta{charset: "utf-8" }
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport" }
    %link{href: "/css/bootstrap.min.css", rel: "stylesheet" }
    %link{href: "/css/jquery-ui.custom.css", rel: "stylesheet" }
    %link{href: "/css/flash.css", rel: "stylesheet"}
    %link{href: "/css/voting-list.css", rel: "stylesheet" }
    %link{href: "/css/bootstrap-responsive.min.css", rel: "stylesheet" }
    /[if lt IE 9]
      %script{src: "http://html5shim.googlecode.com/svn/trunk/html5.js"}
    %link{href: "/img/icon_small.png", rel: "shortcut icon" }
    %link{href: "http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png", rel: "apple-touch-icon-precomposed", sizes: "114x114" }
    %link{href: "http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png", rel: "apple-touch-icon-precomposed", sizes: "72x72" }
    %link{href: "http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png", rel: "apple-touch-icon-precomposed" }
    %script{src: "/js/jquery.min.js"}
    %script{src: "/js/jquery-ui.min.js"}
    %script{src: "/js/bootstrap.min.js"}
    %script{src: "/js/rails.js"}
    %script{src: "/js/application.js"}
    %script{src: "/js/jquery.timeago.js"}
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar{"data-target" =>".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{href: "/"}
            %img{src: "/img/logo.png"}
            Jobbportalen
          = haml :menu
    = styled_flash
    .container-fluid
      .row-fluid
        = yield
      %hr
        %footer
          %p.pull-right
            Jobbportalen 
            %a{href: "http://www.datasektionen.se"} KTH Datasektionen 
