%h3
  Meny:
%h4
  Jobb
%ul
  %li
    %a{href: "/jobs/"} Se alla lediga jobb
  - unless env["warden"].user.nil?
    %li
      %a{href: "/jobs/new"} Lägg till en annons
%h4
  Kategorier
%ul
  %li
    %a{href: "/categories/"} Se alla kategorier
  - unless env["warden"].user.nil?
    %li
      %a{href: "/categories/new"} Lägg till en kategori
%h4
  Företag
%ul
  %li
    %a{href: "/companies/"} Se alla företag
  - unless env["warden"].user.nil?
    %li
      %a{href: "/companies/new"} Lägg till företag
%h4
  = "Användare #{env["warden"].user}"
%ul
  - if env["warden"].user.nil?
    %li
      %a{href: "/auth/login"} Logga in
  - else
    %li
      %a{href: "/auth/logout"} Logga ut
 
