
%ul.nav
  %li
    %a{href: "/jobs/"} Se alla lediga jobb
  
  - if env["warden"].user.nil?
    %li
      %a{href: "/auth/login"} Företag loggar in här..
  - else
    - if env["warden"].user.role == Role.rep
      %li
        %a{href: "/jobs/new"} Lägg till en annons
    - if env["warden"].user.role == Role.admin
      %li
        %a{href: "/categories/"} Se alla kategorier
      %li
        %a{href: "/companies/"} Se alla företag
      %li
        %a{href: "/companies/new"} Lägg till företag

    %li
      %a{href: "/auth/logout"} Logga ut
 
