%ul.nav.pull-right
  - if env["warden"].user.nil?
    %li
      %a{href: "/auth/login"} Företag loggar in här..
  - else
    - if env["warden"].authenticated?
      %li
        %a{href: "/jobs/new"} Lägg till en annons
      - if env["warden"].user.admin?
        %li
          %a{href: "/categories/"} Kategorier
        %li
          %a{href: "/companies/"} Företag
    - if env["warden"].user.admin?
      %li
        %a{href: "/admin"} Admin
    %li
      %a{href: "/companies/#{Role.get_user(env["warden"]).id}/"} Din profil
    %li
      %a{href: "/auth/logout"} 
        = "Logga ut #{Role.get_user(env["warden"]).name}"
 
