%ul.nav
  %li
    %a{href: "/jobs/"} Se alla lediga jobb
  
  - if env["warden"].user.nil? && env["warden"].user(:company).nil? && env["warden"].user(:admin).nil?
    %li
      %a{href: "/auth/login"} Företag loggar in här..
  
  - else
    - if env["warden"].authenticated?(:company) || env["warden"].authenticated?(:admin)
      %li
        %a{href: "/jobs/new"} Lägg till en annons
      - if env["warden"].authenticated?(:admin)
        %li
          %a{href: "/categories/"} Se alla kategorier
        %li
          %a{href: "/companies/"} Se alla företag
        %li
          %a{href: "/companies/new"} Lägg till företag
    %li
      %a{href: "/auth/logout"} Logga ut
 
