.container-fluid
  .header
    = haml :menu
  
    %a.hidden-xs.brand{href: "/"}
      %img.center_img.img-responsive{src: "/img/datasektionen_3.png", width: "420", height: "120", alt: "Datasektionens jobbportal"}
    %a.visible-xs.brand{href: "/"}
      %img.center_img{src: "/img/datasektionen_3.png", width: "180", height: "40", alt: "Datasektionens jobbportal"}
