.container-fluid
  %a.hidden-phone.brand{href: "/"}
    %center
      %img{src: "/img/datasektionen_3.png", width: "420", height: "120"}
  %a.visible-phone.brand{href: "/"}
    %center
      %img{src: "/img/datasektionen_3.png", width: "180", height: "40"}
  = haml :menu
