.row
  .col-xs-12
    %img.center_img{src: "/img/404.png", height: "200px", width: "200px", alt: "Missing page"}
    %p.center
      Darn it! Kunde inte hitta den sida du söker.

    %p.center
      %a{href: "/"} Kolla in listan av annonser 
