#search
  %button.btn.btn-link.btn-xs{type: "button", data: {toggle: "collapse", parent: "#search", href: "#filter_toggle"}}
    %i.icon-question-sign
    Vad söker du?
  #filter_toggle.collapse
    = haml :"jobs/_filter"
