%h1 Datasektionens Jobbportal

.row
  .span3
    %h4
      Meny:
    %ul
      %li
        %a{href: "/jobs/"} Se alla lediga jobb
      %li
        %a{href: "/jobs/new"} Lägg till en annons
    %ul
      %li
        %a{href: "/categories/"} Se alla kategorier
  .span6
    %h2
      Senaste jobben
    = haml :"jobs/_jobs", :locals => { :jobs => @jobs }
