.forms
  %form.form-inline{action: "/subscribes/", method: "post"}
    .input-append
      %input.input{type: "text", id: "email", name: "subscribe[email]", placeholder: "Ange email för nyhetsbrev"}
      %input.btn{type: "submit", value: "Prenumerera"}