%form.form-inline{action: "/subscribes/", method: "post", role: "form"}
  .form-groups
    %label.sr-only{ for: "email"} Email
    %input.form-control{type: "text", id: "email", name: "subscribe[email]", placeholder: "Ange email för nyhetsbrev"}
    %input.btn.btn-success{type: "submit", value: "Prenumerera"}