.center {
  text-align: center;
}

html, body {
  height: 100%;
  font-size: 16px;
}

.header {
  padding-top: 60px;
  margin-bottom: 60px;
}

.center_img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.navbar {
  padding-top: 15px;
}

.btn, .label {
  border-radius: 1px;
}

.content {
  min-height: 350px;
}

%footer {
  max-height: 50px;
}

.alert {
  text-align: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.strong {
  font-weight: 900;
  font-size: 20px;
}

.pull-right {
  float: right;
}

a:hover { 
  color: red;
  text-decoration: underline;
}

.company_logo
{
  max-height:42px;
}

.company_logo_big
{
  max-width: 150px;
  max-height: 150px;
}

h1 {
  font-size: 42px !important;
}
