.center {
  text-align: center;
}

.footer {
  padding-top: 20px;
  max-height: 50px;
  border-top: #eee;
  font-size: 12px;
}

.footer-links {
  display: block;
  text-align: center;
  font-size: 14px;
  list-style-type: disc;
}

.footer-link {
  display: inline-block;
  padding: 10px 8px;
  margin: 2px;
}

html, body {
  height: 100%;
  font-size: 16px;
}

.applybutton {
  margin-top: 20px;
}

.header {
  padding-top: 60px;
  margin-bottom: 60px;
}

@media all and (max-width: 699px) {
  .header {
    padding-top: 10px;
    margin-bottom: 10px;
  }
}

.center_img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.icon {
  height: 20px;
}

.navbar {
  padding-top: 15px;
}

.subscribe {
  padding-bottom: 4em;
}

.subscribe-email {
  border-radius: 1px;
}

.btn, .label {
  border-radius: 1px;
}

.old_job_warning {
  background-color: #f0ad4e;
  padding: 20px;
  text-align: center;
  font-weight: 700;
  border-radius: 2px;
}

.content {
  min-height: 350px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.alert {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0px;
}

.strong {
  font-weight: 900;
  font-size: 20px;
}

.pull-right {
  float: right;
}

a:hover {
  color: red;
  text-decoration: underline;
}

.company_logo
{
  max-height:42px;
  max-width: 75px;
  padding-right: 10px;
}

.job {
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px solid #ddd;
}

.job > .categories {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 75%;
}

.job.even {
  background-color: #f9f9f9;
}

.job > .actions {
}

.company_logo_big
{
  max-width: 150px;
  max-height: 150px;
}

h1 {
  font-size: 42px !important;
}
