body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #616161;
}

.container {
}

a:link {
  text-decoration: none;
}

img.top-logo {
  width: 400px;
  padding-bottom: 40px;
}

.bottom-border {
  border-bottom: 1px solid #eee;
  margin: 20px 0px 30px;
  padding-bottom: 10px
}

td {
  padding-left:12px;
}

h2 {
  font-size: 30px;
}

.companylogo {
  width: 100px;
}
