.flash {
  padding: 2px;
}

.warning {
  background-color: yellow;
  padding: 4px;
  border-radius: 6px;
  margin: 0px 10px 0px 10px;
  font-size:14px;
  font-weight: bold;
  color: grey;
  border: 2px solid red;
  text-align: center;
}

.success {
  padding: 4px;
  background-color: green;
  border-radius: 6px;
  margin: 0px 10px 0px 10px;
  font-size: 12px;
  color: white;
  font-weight: bold;
  border: 2px solid dark-green;
  text-align: center;
}
