.page-header
  %h1.center
    D-Dagen
    %small
      Datasektionens arbetsmarknadsdag

.row-fluid
  .span6.offset1
    .row-fluid
      .span12
        %h3
          Välkommen!
        .what
          %h5
            Vad är D-Dagen
          %p
            D-Dagen är datasektionens arbetsmarknads dag. Vi sammanföra runt 40 företag, och säkert flera tusen studenter i samma branch. 
            Söker du sommarjobb eller exjobb? Eller är du ett IT-bolag som söker kompetent personal? 
    .row-fluid
      .span6
        .tider
          %h5
            Tider
          %p
            Mässan har öppet Torsdagen den 3 Oktober mellan 10-16.

        .duringtheday
          %h5
            Vad händer under mässan?
          %p
            Mässan pågår under torsdagen, men under resten av veckan sker andra evenemang. Allt ifrån lunchföreläsningar från inspirerande företag till pub och avslutningsfest.

        .volontar
          %h5 Vill du vara delaktig?
          %p Vi söker alltid bra personal att ta hand om företag, servera under sittningen etc. Känner du att vill vara med och samtidigt knyta värdefulla kontakter anmäl dig nedan så hör vi av oss!
      .span6
        .foretag
          %h5 Vill ditt företag vara med?
          %p Mässan växer och vi får fler och fler som vill vara med. Förra året deltog 40 (??) företag. Är ni intresserade så hör av er. Det finns fler saker att göra än att bara stå på mässan så passa på att synas lite extra.

        .event
          %ul
            %li Måndag 30/9: Lunchföreläsning med .....
            %li Tisdag 1/10: Lunchföreläsning med ..... Kvällsföreläsning med.. 
            %li Onsdag 2/10: Lunchföreläsning med ...... Onsdagspub med....
            %li Torsdag 3/10: Mässan plus sittning. Föreläsningar med..
            %li Fredag 4/10: Mässan är var igår. Vi avslutar med en afterwork öl i META.
            
  
  .span5
    %h5
      En karta över omradet
    %img.img-polaroid{src: "/img/e-huset.png"}

