.page-header
  %h1.center
    D-Dagen
    %small
      Datasektionens arbetsmarknadsdag

.row-fluid
  .span6.offset1
    %h3
      Välkommen!

    %ul
      %li Mässans öppettider
      %li Event
      %li Event 1 etc
      %li Vill du vara volontär
      %li Vill ditt företag vara med? Anmäl dg här?
  .span5
    %h5
      En karta över omradet
    %img.img-polaroid{src: "http://baconmockup.com/400/300"}
