= haml :"errors", locals: { errors: @category.errors }  
        
.control-group
  %label.control-label{for: "category_name"} Namn:
  .controls
    %input.input-xlarge{id: "category_name", name: "category[name]", value: @category.name}
    %span.help-block
      Kategorins namn

