.row
  .span12
    %form.form-horizontal{action: "/categories/#{@category.id}", method: "post"}
      %input{type: "hidden", name: "_method", :value => "put"}
      %fieldset
        %legend
          Ändra en kategori
      
        = haml :"categories/_form", locals: {category: @category}
      
      .form-actions
        %input.btn.btn-primary{type: "submit", value: "Ändra"}
        %a.btn.btn-danger{ href: "/categories/#{@category.id}/delete" } Ta bort kategorien helt
