.row
  .span12
    %form.form-horizontal{action: "/categories", method: "post"}
      %fieldset
        %legend
          Ändra en kategori
      
        = haml :"categories/_form", locals: {category: @category}
      
      .form-actions
        %input.btn.btn-primary{type: "submit", value: "Ändra"}