%h1 Kategorier

- unless env["warden"].user.nil?
  - if env["warden"].user.role == Role.admin
    %a.btn.btn-info{href: "/categories/new"} Ny Kategori

%table.table.table-striped
  %thead
    %tr
      %th ID
      %th Name
      %th
  %tbody
    - @categories.each do |c|
      %tr
        %td= c.id
        %td= c.name
        %td
          %a.btn{href: "/categories/#{c.id}/edit"} Redigera
