.row
  .span10.offset1
    %form.form-horizontal{action: "/categories", method: "post"}
      %fieldset
        %legend
          Lägg till en ny kategori
        = haml :"categories/_form", locals: {category: @category}
      .form-actions
        %input.btn.btn-primary{type: "submit", value: "Skapa"}
