%label{for: "company_name"} Namn:
%input{id: "company_name", name: "company[name]", value: @company.name}

%label{for: "company_img_url"} Url logo
%input{id: "company_img_url", name: "company[img_url]", value: @company.img_url}
