%table.table.table-striped
  %thead
    %tr
      %th Företag
      %th Titel
      %th Antal dagar/betalstatus
      %th Tillagd
      %th Kategorier
      %th
  %tbody
    - jobs.each do |job|
      = haml :"companies/_job", :locals => { :job => job }
