.row-fluid
  .span12
    %h3
      Ändra
    %form.form-horizontal{action: "/companies/#{@company.id}", method: "post"}
      %input{type: "hidden", name: "_method", :value => "put"}
      =haml :"companies/_form"
      %br
      %input{ type: "submit", value: "Updatera", class: "btn btn-primary"}
