
.row-fluid
  .span10.offset1
    %form.form-horizontal{action: "/companies/#{@company.id}/password", method: "post"}
      %fieldset
        %legend
          Ändra ditt lösenord
    
      = haml :"errors", locals: { errors: @company.errors }

      .control-group
        %label.control-label{for: 'new_password'} Ditt nya lösenord:
        .controls
          %input.input-xlarge{ type: "password", id: 'new_password', name: 'company[new_password]'}
          
      .control-group
        %label.control-label{for: 'new_password'} Det nya lösenordet igen:
        .controls
          %input.input-xlarge{ type: "password", id: 'confirm_password', name: 'company[confirm_password]'}

      %input{ type: "submit", value: "Ändra", class: "btn btn-primary" }
