
.row
  .col-lg-10.col-lg-offset-1
    %form.form-horizontal{action: "/companies/#{@company.id}/password", method: "post"}
      %fieldset
        %legend
          = "Ändra lösenord för #{@company.email}"

      = haml :"errors", locals: { errors: @company.errors }

      .form-group
        %label.control-label.col-sm-2{for: 'new_password'} Ditt nya lösenord:
        .col-sm-10
          %input.input-lg.form-control{ type: "password", id: 'new_password', name: 'company[new_password]'}

      .form-group
        %label.control-label.col-sm-2{for: 'new_password'} Det nya lösenordet igen:
        .col-sm-10
          %input.input-lg.form-control{ type: "password", id: 'confirm_password', name: 'company[confirm_password]'}

      .col-sm-10.col-sm-offset-2
        %input{ type: "submit", value: "Byt lösenord", class: "btn btn-primary" }
