%h1
  Lägg till eller ändra annonser
%p
  Som företag kan du få ett konto här för att lägga upp och administrera dina egna jobb erbjudanden.
%p
  För det behöver du ett konto. Maila foretag@d.kth.se för hjälp och information om priser.
%form.form-horizontal{acition: "/auth", method: "post"}
  %fieldset
    %legend
      Logga in

    .control-group
      %label.control-label{for: 'email'} Email
      .controls
        .input-prepend
          %span.add-on
            @
          %input.input-xlarge{id: 'email', name: "user[email]", type: "text", size: "16" }
        %p.help-block
          Hoppas du kommer ihåg din email!

    .control-group
      %label.control-label{for: 'password'} Lösenord
      .controls
        %input{type: 'password', id: 'password', name: "user[password]"}
        %p.help-block
          Ditt lösenord måste du också komma ihåg. Ring Tarandi annars.
    .form-actions
      %input.btn.btn-primary{type: "submit", value: "Logga in"}

