.row
  .span6
    -unless @job.nil?  
      = haml :"errors", locals: { errors: @job.errors }  
    .control-group
      %label.control-label{for: "job_title"} Titel
      .controls
        %input.input-xlarge{id: "job_title", name: "job[title]", value: @job.title}
        %p.help-block
          Titeln på annonsen

    .control-group
      %label.control-label{for: "job_short_description"} Kort beskrivning
      .controls
        %input.input-xlarge{type: "textarea", id: "job_short_description", name: "job[short_description]", value: @job.short_description}
        %p.help-block
          En kort beskrivning

    .control-group
      %label.control-label{for: "job_description"} Lång Beskrivning
      .controls
        %textarea.input-xlarge{type: "textarea", id: "job_description", name: "job[description]", rows: 10}
          = @job.description
        %p.help-block
          Längre och mycket detaljerad beskrivning av tjänsten.

    .control-group
      %label.control-label{for: "job_category"} Kategorier:
      .controls
        - @categories.each do |category|
          %label.checkbox
            %input{type: "checkbox", name: "categories[id][]", value: category.id, checked: @job.categories.include?(category)}
            = category.name
        %p.help-block 
          Vilka kategorier bör annonsen vara associerad med

    .control-group
      %label.control-label{for: "job_company_id"} Företag
      .controls
        %p
          = @job.company.name rescue "no company"
        %input.input-xlarge{type: "hidden", id: "job_company_id", name: "job[company_id]", value: @job.company.id}
        %p.help-block
          Det företag som annonsen tillhör

    .control-group
      %label.control-label{for: "job_apply_url"}Webadress till extern sida
      .controls
        %input.input-xlarge{type: "textarea", id: "job_apply_url", name: "job[apply_url]", value: @job.apply_url}
        %p.help-block
          Den länken man kan trycka på för att söka.

    .control-group
      %label.control-label{for: "job_starttime"} Tid då annonsen ska börja visas.
      .controls
        %input.input-xlarge{class: "timeselector", id: "job_starttime", name: "job[starttime]", value: @job.starttime}
        %p.help-block
          Titeln på annonsen
    
    .control-group
      %label.control-label{for: "job_endtime"} Tid då annonsen ska sluta visas.
      .controls
        %input.input-xlarge{class: "timeselector", id: "job_endtime", name: "job[endtime]", value: @job.endtime}
        %p.help-block
          Titeln på annonsen
  .span4
    %h3
      Help

    %P
      För att formatera din text kan du använda ett mark-up språk som heter Textile. Se länken nedan för referens samt kolla exemplet nedan.

    %a{href: "http://redcloth.org/textile"} Länk till referens

    .example
      %textarea.span3{class: "exampleinput", name: "exampleinput", rows: 10, col: 150}
        h1. Give RedCloth a try!

        A *simple* paragraph with
        a line break, some _emphasis_ and a "link":http://redcloth.org

        * an item
        * and another
