%tr
  %td
    = job.title
  %td  
    = job.description

  %td 
    %ul
      - job.categories.each do |category|
        %li
          = haml :"categories/_category", locals: { category: category }


