%table.table.table-striped
  %thead
    %th
      Titel
    %th
      Beskrivning
    %th
      Kategorier
    %th
  %tbody

    - jobs.each do |job|
      = haml :"jobs/_job", :locals => { :job => job }
