%h1 Ändra!

%form.form{action: "/jobs/#{@job.id}", method: "post"}
  %input{type: "hidden", name: "_method", :value => "put"}

  = haml :"jobs/_form"
  %input{type: "submit", value: "Spara ändringarna"}
