.row-fluid
  .span12
    %h1 Datasektionens Jobbportal
    - if current_user.company_rep?()
      %a.btn.btn-info{href: "/jobs/new"} Ny annons

.row-fluid
  .span12
    .search
      = haml :"search"

    .joblist
      %h2
        Senaste jobben
      = haml :"jobs/_jobs", :locals => {:jobs => @jobs}


