%h1 Datasektionens Jobbportal

- unless env["warden"].user.nil?
  - if env["wardern"].user.role == Role.admin

    %a.btn.btn-info{href: "/jobs/new"} Ny annons

.search
  = haml :"search"

.joblist
  %h2
    Senaste jobben
  = haml :"jobs/_jobs", :locals => {:jobs => @jobs}

