%h1 Datasektionens Jobbportal

- unless env["warden"].user(:admin).nil?
  %a.btn.btn-info{href: "/jobs/new"} Ny annons

.row
  .span12
    .search
      = haml :"search"

    .joblist
      %h2
        Senaste jobben
      = haml :"jobs/_jobs", :locals => {:jobs => @jobs}


