.row
  .col-lg-10.col-lg-offset-1
    .visible-xs
      %h2.center
        Lediga tjänster
    .well.hidden-xs
      .form-actions.hidden-xs
        %p
          %span.strong
            Hallå!
          Du kan få uppdateringsmail med nya jobberbjudanden. Helt gratis och reklamfritt! Anmäl dig här:
        %p
          = haml :"subscribe"
      .row.hide
        .col-lg-12
          .search
            = haml :"search", locals: {categories: @categories, selected_categories: @selected_categories }
      
  
    = haml :"jobs/_jobs", locals: {jobs: @jobs }
