.row
  .col-lg-12
    %form.form-horizontal{action: "/jobs", method: "post"}
      %fieldset
        %legend
          Skapa en ny annons
    
        = haml :"jobs/_form"
    
      .col-sm-10.col-sm-offset-2
        .form-controls
          %input.btn.btn-primary.btn-lg{type: "submit", value: "Spara annonsen"} 
