%form.form-horizontal{action: "/jobs", method: "post"}
  %fieldset
    %legend
      Skapa en ny annons

    = haml :"jobs/_form"

  .form-actions
    %input.btn.btn-primary{type: "submit", value: "Spara"} 
