.row
  .span12
    %h1
      = @job.title
    %a{href: "/companies/#{@job.company.id}"}= @job.company.name
.row
  .span12
    %h5
      Kategorier
    = @job.categories.map(&:name).join(", ")


.row
  .span12
    = RedCloth.new(@job.description).to_html

