.row
  .span12
    %h1
      = @job.title
    %a{href: "/companies/#{@job.company.id}"}= @job.company.name
.row
  .span12
    %h5
      Kategorier
    = @job.display_categories
.row
  .span12
    = @job.formated_description
    
.row
  .span12
    %h3
      Intresserad? 
      %a{href: @job.apply_url} Sök nu!
