
.control-group
  %label.control-label{for: 'first_name'} Förnamn
  .controls
    %input.input-xlarge{id: 'first_name', name: "user[first_name]", value: @user.first_name}

.control-group
  %label.control-label{for: 'last_name'} Efternamn
  .controls
    %input.input-xlarge{id: 'last_name', name: "user[last_name]", value: @user.last_name}

.control-group
  %label.control-label{for: 'email'} Email
  .controls
    %input{id: 'email', name: 'user[email]', value: @user.email}

.control-group
  %label.control-label{for: 'password'} Lösenord
  .controls
    %input.input-xlarge{type: 'password', id: 'password', name: 'user[password]'}

.control-group
  %label.control-label{for: 'role'} Roll
  .controls
    %select{id: 'role', name: 'user[role'}
      %option{value: ""} Välj ett

      - Role.get_hash_of_roles(@user).each do |r|
        - if r[:selected] == true
          %option{value: r[:n], selected: "true" }
            = r[:n]
        -else
          %option{value: r[:n]}
            = r[:n]

.control-groups
  %label.control-label{for: 'company_id'} Företag
  .controls
    %select{id: 'company_id', name: 'user[company_id]'}
      %option{value: ""} Välj ett..
      - Company.all.each do |company|
        -if @user.company_id == company.id 
          %option{value: company.id, selected: true}= company.name
        -else 
          %option{value: company.id}= company.name


