%form.form-horizontal{action: "/users/#{@user.id}", method: "post"}
  %fieldset
    %input{type: "hidden", name: "_method", "value" => "put"}
    %legend
      Ändra användarinformation

    

    = haml :"users/_form", locals: {user: @user}
    
    .form-actions
      %input.btn.btn-primary{type: "submit", value: "Spara"} 
