%h1 Användare

%a.btn.btn-info{href: "/users/new"} Lägg till användare

%table.table.table-striped
  %thead
    %tr
      %th Id
      %th Status
      %th Namn
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td= user.id
        %td= user_status user
        %td= user.name
        %td
          %a.btn{href: "/users/#{user.id}/edit"} Redigera

